@font-face {
    font-family: Bubble;
    src: url("../fonts/Play-Ink.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.window,
.game {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: Bubble;
    background-color: navy;
    color: lightskyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.window-home {
    height: 40vh;
    text-align: center;
}

.window-home h2 {
    font-size: 100px;
}

.window-home h3 {
    font-size: 60px;
    padding-bottom: 30px;
}

.window-home .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button {
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 5%;
    text-align: center;
    font-family: Bubble;
    background: none;
    background-color: rgb(0, 0, 85);
    color: lightskyblue;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}

.window-start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    height: 40vh;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}

.window-start h2 {
    font-size: 70px;
}

.window-start input {
    background-color: rgb(0, 0, 182);
    border: 5px solid black;
    color: lightskyblue;
    font-family: Bubble;
    font-size: 60px;
    margin: 10px;
    text-align: center;
}

.window-instructions {
    position: absolute;
    background-color: navy;
    color: lightskyblue;
    font-family: Bubble;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.window-instructions .p {
    position: absolute;
    text-align: center;
    font-size: 50px;
    width: 50%;
    height: 50%;
}

.window-instructions .button {
    position: relative;
    margin-top: 300px;
}

.window-instructions .previous {
    opacity: 0;
    pointer-events: none;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu{
    position: relative;
    align-self: flex-start;
    orientation: vertical;
    z-index: 1;
}

.game-pause {
    position: absolute;
    align-self: center;
}
.game-start {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-self: center;
    align-items: center;
}

.players {
    position: absolute;
    width: 100%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.human-player h2,
.computer-player h2 {
    font-size: 90px;
}

.human-player h3,
.computer-player h3 {
    font-size: 60px;
}

.info {
    position: absolute;
    width: 100%;
    height: 70%;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info h2 {
    position: absolute;
    top: 7%;
    font-size: 60px;
    text-align: center;
}

.choose-attack,
.results {
    position: absolute;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.results {
    height: 20vh;
    bottom: 40%
}

.results .ok {
    position: absolute;
    top: 10px;
}

.results .end {
    opacity: 0;
    pointer-events: none;
}

.choose-attack div {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    height: 350px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

img {
    height: 80%;
}

div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: 1;
}
